/*
 * hg.filehandler.css
 * Styles specific for filehandler module
 */

.hg-filehandler-dropbox {

	height: 100%;
	width: 100%;

	border: 2px dashed white;
	border-radius: 5px;
	background-color: #33f;
}

.hg-filehandler-dropbox-text {
	color: white;
	text-align: center;
	position: relative;
	top: 45%;
	bottom: 45%;

}

